Source: rep-gtk
Section: lisp
Priority: optional
Maintainer: Christopher Roy Bratusek <nano@tuxfamily.org>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 7),
               librep-dev (>= 0.92.4),
               rep (>= 0.92.4),
               libtool,
               autoconf,
               automake,
               autotools-dev,
               libglib2.0-dev (>= 2.12),
               libgtk2.0-dev (>= 2.24.0),
               dh-autoreconf
Homepage: http://sawfish.wikia.com/

Package: rep-gtk
Architecture: any
Depends: ${shlibs:Depends}
Suggests: rep (>= 0.92.4)
Description: GTK+ binding for librep
 This package provides an interface to the GTK+ graphical toolkit for
 the librep lisp interpreter.
